/* ========== RESET ========== */
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  font-size: 1.6rem;
}
ul, ol {
  list-style: none;
}
picture, img {
  max-width: 100%;
  display: block;
}
button, input, textarea, select, optgroup {
  font: inherit;
}
button {
  border: none;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: inherit;
}
